/* ======= Base ======= */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@1,400;1,700&display=swap');

* {
  scroll-behavior: smooth;
  //scroll-snap-type: y mandatory;
}

body {
  font-family: "Lora", Georgia, 'Times New Roman', Times, serif;
  color: $text-color-secondary !important;
  background: $smoky-white !important;
  font-size: 14px;
  padding: 50px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

a {
  color: darken($theme-color, 35%);
  &:hover {
    font-weight: bold;
    color: darken($theme-color, 42%);
  }
  &:focus {
    text-decoration: none;
  }
}
p {
  line-height: 1.5;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  //background: $theme-color;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  border-radius: 10px;
  @include box-shadow(0px 4px 6px rgba(0, 0, 0, 0.1));
}
.sidebar-wrapper {
  grid-column: span 3;
  order: 2;
  background: $theme-color;
  color: #fff;
  border-radius: 0px 10px 10px 0px;
  a {
    color: #fff;
  }
  li {
    font-size: 32px;
  }
  .section-title {
    font-size:20px;
  }

  .profile-container {
    border-radius: 0px 10px 10px 0px;
    padding: 30px;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    color: #fff;
    box-shadow: -4px 9px 2px rgba(0, 0, 0, 0.1);
  }
  .name {
    margin-top: -10px;
  }
  .tagline {
    font-style:italic;
    color: rgba(256, 256, 256, 0.6);
    font-size: 24px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
  }
  .bio {
    font-size:1.5rem;
    font-weight:300;
    margin-top:10px;
    margin-bottom:10px;
  }
  .profile {
    margin-bottom: 15px;
  }
  .avatar {
    height: auto;
    width: 100%;
    margin-top: 0;
    margin-bottom: 15px;
    border: 0px solid #cbd;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  }
  .container-block {
    padding: 1rem;
  }
  .container-block-title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 15px;
  }
  .contact-container{
    display: flex;
    justify-content: center;
    background-color: rgba(34, 25, 46, 0.3);
    border-radius: 20px;
    ul {
      margin: 0;
    }
  }
  .contact-list {
    .fas,
    .fab,
    .far {
      margin-right: 5px;
      font-size: 24px;
    }
    li {
      display: inline-block;
      padding: .05em;
    }
  }
  .about-container {
    padding: 1rem;
    .item {
      .time {
        size: 1.6rem;
        margin-bottom: 1rem;
      }
    }
    .degree {
      font-size: 16px;
      margin-top: 0;
      margin-bottom: 5px;
    }
    .education-container {
      .item {
        margin-bottom: 15px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      .meta {
        font-weight: 500;
        margin-bottom: 0px;
        margin-top: 0;
        font-size: 16px;
      }
      .time {
        color: rgba(256, 256, 256, 0.6);
        font-weight: 500;
        margin-bottom: 0px;
        font-size:16px;
      }
    }
    .languages-container {
      .lang-desc {
        color: rgba(256, 256, 256, 0.6);
      }
    }
    .languages-list {
      margin-bottom: 0;
      li {
        font-size: 18px;
        padding-left: 30%;
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    .interests-list {
      margin-bottom: 0;
      li {
        font-size: 18px;
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
.main-wrapper {
  grid-column: span 7;
  background: #f5f3f8;
  padding: 20px 40px 40px;
  border-radius: 10px 0px 0px 10px;
  a{
    text-decoration: underline;
  }
  .section-title {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 500;
    color: darken($theme-color, 15%);
    position: relative;
    margin-top: 5px;
    margin-bottom: 20px;
  }
  .section {
    font-size: 18px;
    margin-bottom: 40px;

  }
  .experiences-section,
  .education-section {
    .item {
      margin-bottom: 20px;
      border-right: 5px darken($theme-color, 25%);
      border-radius: 20px;
    }
  }
  .upper-row {
    position: relative;
    margin-bottom: 4px;
  }
  .job-title,
  .degree {
    color: $text-color;
    position:sticky;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
  }
  .time {
    position: absolute;
    right: 0;
    top: 0;
    color: lighten($text-color-secondary, 15%);
    font-size:16px;
  }
  .company,
  .university {
    margin-bottom: 10px;
    margin-top:0;
    color: lighten($text-color-secondary, 15%);
    font-size: 16px;
  }
  .project-title {
    font-size: 20px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 5px;
    color: darken($theme-color, 15%);
  }
  .projects-section {
    .intro {
      margin-bottom: 30px;
    }
    .item {
      margin-bottom: 15px;
    }
  }
  .publication-title {
    font-size: 25px;
    font-weight: 400;
    color: $text-color;
    margin-bottom: 1px;
  }
  .publication-authors {
    font-style: italic;
    font-size:1.5rem;
    color: $text-grey;
    margin-top: 1px;
    margin-bottom: 1px;
  }
  .publication-conference{
    font-size:1.5rem;
  }
  .publications-section {
    .intro {
      margin-bottom: 30px;
    }
    .item {
      margin-bottom: 15px;
    }
  }
}
.skillset {
  .item {
    margin-bottom: 15px;
    overflow: hidden;
  }
  .level-title {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 12px;
    padding-left: .5em;
  }
  .level-bar {
    height: 16px;
    background: $smoky-white;
  }
  .level-bar-inner {
    height: 16px;
    background: lighten($theme-color, 15%);
  }
}

.footer {
  padding-top: 30px;
  scroll-snap-align: end;
  .copyright {
    line-height: 1.6;
    color: $text-color-secondary;
    font-size: 13px;
  }

  .fa-heart {
    color: $heart;
  }
}
#wcb.wcb-d {
  #wcb_p {
    font-size: 0.8em;
    padding-top: 15px;
  }
}

#wcb_2 {
  color: $text-color-secondary !important;
}

// Functionality: ---from https://codepen.io/BrainStone/pen/WoEjaL?editors=1100 "CSS-only Cookie Notice" by Brian Stone
#cookie {
  position: fixed;
  display: block;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  
  input {
    display: none;
    
    // Put text in CSS so search engines don't index it
    // This is optional!
    &:not(:checked) ~ span::before {
      content: "This website uses cookies to improve user experience. Only anonymous geographic and browser information (such as browser version and device type) are collected.";
      display: inline;
    }
    
    &:checked ~ * {
      display: none;
      // Prevent interacting with any elements in the notice after clicking it away.
      // This is optional!
      pointer-events: none;
    }
  }
}

// Layout for demonstration:
#cookie {
  color: white;
  background-color: #40344c;
  text-align: center;
  
  > * {
    margin: 0.5em;
  }
}

