/* ======= Base ======= */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@1,400;1,700&display=swap');
* {
  scroll-behavior: smooth;
  //scroll-snap-type: y mandatory;
}

body {
  font-family: "Lora", Georgia, 'Times New Roman', Times, serif;
  color: $text-color-secondary;
  background: $smoky-white;
  font-size: 14px;
  padding: 0 30px 30px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }


h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

a {
  color: darken($theme-color, 35%);
  &:hover {
    font-weight: bold;
    color: darken($theme-color, 42%);
  }
  &:focus {
    text-decoration: none;
  }
}
p {
  line-height: 1.5;
}
.hero {
  scroll-snap-align: start;
  display: grid;
  height: 100vh;
  width: 100%;
  //@include box-shadow(0px 4px 6px rgba(0, 0, 0, 0.1));
  .btn {
    background: #40344c;
    padding: 0.5em;
    border-radius: 20px;
    font-size: 2em;
    color:#fff;
    @include box-shadow(0px 4px 6px rgba(87, 38, 119, 0.8));
  }
  .intro{
    grid-column: 1;
    grid-row: 1;
    font-size: 3em;
    margin-bottom:0;
  }
  .name {
    grid-column: 1;
    grid-row: 1;
    font-family: 'Alegreya', serif;
    font-size: 10em;
    font-weight: 700;
    text-decoration: none;
    font-style: italic;
    letter-spacing: 2px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .segwei {
    grid-column: 1;
    grid-row: 2;
    font-size: 4em;
    padding-left: 3em;
    margin-bottom: 0;
  }
  .links{
    grid-column: 1;
    grid-row: 2;
    display: grid;
    //grid-template-columns: repeat();
    grid-auto-flow:column;
    gap: 0.5em;
    justify-content: center;
    justify-items: center;
    align-items: center;
    a {
      position: relative;
      display: inline-block;
    }
    .abt {
      grid-row: 1;
      grid-column: 1;
    }
    .blg {
      grid-row: 1;
      grid-column: 2;
    }
    .res {
      grid-row: 1;
      grid-column: 3;
    }
    p{
      grid-row: 1;
      grid-column-start:4 ;
      margin: 0;
      font-size: 2.5em;
      padding: 0.5em;
    }
    .btn .con {
      grid-row: 1;
      grid-column-start: 4;
    }
  }
}
.about-wrapper{
  scroll-snap-align: start;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 4fr 1fr;
  min-height: 100vh;
  width: 100%;
  align-items:center;
  justify-content: center;
  background: darken($theme-color, 31.4159%);
  .img-container {
    grid-column: 2 ;
    grid-row: 2 / span 5;
    max-width: 100%;
    max-height:100%;
    background-image: url(/assets/images/about_img.jpg);
    border-radius: 20px;
  }
  .txt-container {
    grid-column: 3 /span 2;
    grid-row: 3 / span 3;
    background: #f5f3f8;
    align-items: center;
    justify-content: center;
    font-size: 1.8vw;
    .about-header{
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
  }
}
.navbar-wrapper {
  grid-column: span 10;
  justify-content: space-between;
  align-items: center;
  //border-top: 5px darken($theme-color, 15%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: $theme-color;
  a {
    text-decoration: none;
    font-size:2rem;
    padding: 20px;
    text-align: center;
    color: #fff;
    display: inline-block;
  }
  a:hover, a.active {
    border-radius: 10px 10px 0px 0px;
    background: darken($theme-color, 36%);
    color: lighten($text-color, 26%); 
    margin-top: 1px;
    font-weight: bold;
  }

  .icon {
    display:none;
  }
} 
.resume-start{
    background: linear-gradient(to bottom, darken($theme-color, 31.4159%), transparent); //aquamarine
    padding: 0 0 40px;
    margin: 0;
    border-top: 0;

}
.wrapper.resume {
  scroll-snap-align: start;
  scroll-snap-type: y proximity;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  //background: $theme-color;
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 10px;
  @include box-shadow(0px 4px 6px rgba(0, 0, 0, 0.1));
}
.about-nav-wrapper {
  border-radius: 10px;
}
.sidebar-wrapper-post{
  grid-column: span 3;
  order: 2;
  background: $theme-color;
  border: 2px darken($theme-color, 25%);
  border-right: 2px darken($theme-color, 25%);
  border-bottom-right-radius: 10px;
  //border-bottom-right-radius: 10px;
  color: #fff;
  a{
    color:#fff;
  }
  li {
    font-size: 32px;
  }
  .profile-container {
    padding: 20px 20px 20px 20px;
    border-bottom: 2px darken($theme-color, 15%);
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    color: #fff;
    margin-top: -69px;
    box-shadow: -4px 9px 2px rgba(0, 0, 0, 0.1);
  }
  .name {
    font-weight: 900;
    text-decoration: none;
    letter-spacing: 2px;
    margin-bottom: 10px;
    margin-top: 0;
  }
  .container-block {
    padding: 1em;
  }
  .container-block-title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 15px;
  }
  .contact-list {
    .fas,
    .fab,
    .far {
      margin-right: 5px;
      font-size: 24px;
    }
    li {
      display: inline-block;
      padding: .25em;
    }
  }
  .posts{
    margin:2px;
    width: inherit;
    padding: 5px;
    overflow: hidden;
    background: #40344c;
  }
}
.sidebar-wrapper {
  grid-column: span 3;
  order: 2;
  background: $theme-color;
  border-right: 2px darken($theme-color, 25%);
  border-bottom-right-radius: 10px;
  color: #fff;
  border-radius: 0px 10px 10px 0px;
  a {
    color: #fff;
  }
  li {
    font-size: 32px;
  }
  .section-title {
    font-size:20px;
  }

  .profile-container {
    border-radius: 0px 10px 10px 0px;
    //margin-top: -69px;
    padding: 20px 20px 20px 20px;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    color: #fff;
    box-shadow: -4px 9px 2px rgba(0, 0, 0, 0.1);
  }
  .name {
    font-weight: 900;
    text-decoration: none;
    letter-spacing: 2px;
    margin-bottom: 10px;
    margin-top: 0;
  }
  .tagline {
    font-style:italic;
    color: rgba(256, 256, 256, 0.6);
    font-size: 24px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
  }
  .bio {
    //font-family: "Lora", serif;
    font-size:1.5rem;
    font-weight:300;
    margin-top:10px;
    margin-bottom:10px;
  }
  .profile {
    margin-bottom: 15px;
  }

  .avatar {
    //used for profile image
    max-width: 200px;
    margin-top: 0;
    margin-bottom: 15px;
    border: 0px solid #cbd;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  }
  .container-block {
    padding: 1em;
    align-items: center;
  }
  .container-block-title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 15px;
  }
  .contact-container{
    position:sticky;
    align-items: center;
    border: 15px white;
    background-color: rgba(34, 25, 46, 0.3);
    //border-width: 15px;
    border-radius: 20px;
    ul {
      margin: 0;
    }
  }
  .contact-list {
    .fas,
    .fab,
    .far {
      margin-right: 5px;
      font-size: 24px;
    }
    li {
      display: inline-block;
      padding: .05em;
    }
  }
  .degree {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 5px;
  }
  .education-container {
    .item {
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .meta {
      color: rgba(230, 224, 238, 0.6);
      font-weight: 500;
      margin-bottom: 0px;
      margin-top: 0;
      font-size: 16px;
    }
    .time {
      color: rgba(256, 256, 256, 0.6);
      font-weight: 500;
      margin-bottom: 0px;
      font-size:16px;
    }
  }
  .languages-container {
    .lang-desc {
      color: rgba(256, 256, 256, 0.6);
    }
  }

  .languages-list {
    margin-bottom: 0;
    li {
      font-size: 18px;
      padding-left: 30%;
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .interests-list {
    margin-bottom: 0;
    li {
      font-size: 18px;
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .posts{
    padding: 20px;
  }
}
.main-wrapper {
  grid-column: span 7;
  background: #f5f3f8;
  padding: 20px 40px 40px 40px;
  border-left: 2px darken($theme-color, 25%);
  //border-width: 15px;
  border-radius: 10px 0px 0px 10px;
  a{
    text-decoration: underline;
  }
  .section-title {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 500;
    color: darken($theme-color, 15%);
    position: relative;
    margin-top: 5px;
    margin-bottom: 20px;
  }
  .section {
    font-size: 18px;
    margin-bottom: 40px;
  }
  .experiences-section,
  .educations-section {
    .item {
      margin-bottom: 20px;
      //background-color: darken(#fff, 15%);
      border-right: 5px darken($theme-color, 25%);
      border-radius: 20px;
      //border-style: inset;
      
      //border-color: aquamarine;
    }
  }
  .upper-row {
    position: relative;
    
    margin-bottom: 4px;
  }
  .job-title,
  .degree {
    color: $text-color;
    position:sticky;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
  }
  .time {
    position: absolute;
    right: 0;
    top: 0;
    color: lighten($text-color-secondary, 15%);
    font-size:16px;
  }
  .company,
  .university {
    margin-bottom: 10px;
    margin-top:0;
    color: lighten($text-color-secondary, 15%);
    font-size: 16px;
  }
  .project-title {
    font-size: 20px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 5px;
    color: darken($theme-color, 15%);
  }
  .projects-section {
    .intro {
      margin-bottom: 30px;
    }
    .item {
      margin-bottom: 15px;
    }
  }
  .publication-title {
    font-size: 25px;
    font-weight: 400;
    color: $text-color;
    margin-bottom: 1px;
  }
  .publication-authors {
    font-style: italic;
    font-size:1.5rem;
    color: $text-grey;
    margin-top: 1px;
    margin-bottom: 1px;
  }
  .publication-conference{
    font-size:1.5rem;
  }
  .publications-section {
    .intro {
      margin-bottom: 30px;
    }
    .item {
      margin-bottom: 15px;
    }
  }
  .post-content {
    padding-top: 1em;
  }
}
.skillset {
  .item {
    margin-bottom: 15px;
    overflow: hidden;
  }
  .level-title {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 12px;
    padding-left: .5em;
  }
  .level-bar {
    height: 16px;
    background: $smoky-white;
  }
  .level-bar-inner {
    height: 16px;
    background: lighten($theme-color, 15%);
  }
}
.blog-wrapper{
  grid-column: span 10;
  background:rgba(255, 255, 255, 0.6);
  border: 20px $theme-color;
  border-radius: 0px 0px 10px 10px;
  text-align: center;
  .section-title {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 700;
    //color: darken($theme-color, 15%);
    position: relative;
    margin-top: 20px;
    //margin-bottom: 20px;
  }
}
.posts{
  margin:.5em;
  display: block;
  //grid-column: span 1;
  padding: 10px;
  background:#40344c;
  color: rgb(227, 215, 238);
  a {
    text-decoration: none;
    color:#fff;
  }
}
.posts-link{
  padding: 20px;
  text-align:center;
  background: rgba(0, 0, 0, 0.6);
}
.footer {
  padding-top: 30px;
  scroll-snap-align: end;
  .copyright {
    line-height: 1.6;
    color: $text-color-secondary;
    font-size: 13px;
  }

  .fa-heart {
    color: $heart;
  }

}
#wcb_p {
  font-size: 0.8em;
  padding-top: 15px;
}
#stop {
  scroll-snap-stop: always;
}

// Functionality: ---from https://codepen.io/BrainStone/pen/WoEjaL?editors=1100 "CSS-only Cookie Notice" by Brian Stone
#cookie {
  position: fixed;
  display: block;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  
  input {
    display: none;
    
    // Put text in CSS so search engines don't index it
    // This is optional!
    &:not(:checked) ~ span::before {
      content: "This website uses cookies to improve user experience. Only anonymous geographic and browser information (such as browser version and device type) are collected.";
      display: inline;
    }
    
    &:checked ~ * {
      display: none;
      // Prevent interacting with any elements in the notice after clicking it away.
      // This is optional!
      pointer-events: none;
    }
  }
}

// Layout for demonstration:
#cookie {
  color: white;
  background-color: #40344c;
  text-align: center;
  
  > * {
    margin: 0.5em;
  }
}

