/* extra small devices (tablets, less than 768px) */
@media only screen and (max-width: 767px) {

  body {
    padding: 0;
    //display: block;
  }
  .sidebar-wrapper {
    position: static;
    width: inherit;
    .profile-container {
      margin-top: 0;
    }

    .avatar{
      max-width: 100px;
    }
  }

  .main-wrapper {
    border-radius: 0px 10px 10px 0px;
    padding: 30px;
  }

  .resume {
    display: block;
  }

  .main-wrapper .time {
    position: static;
    display: block;
    margin-top: 5px;
  }

  .main-wrapper .upper-row {
    margin-bottom: 0;
  }
}
/* Small devices (tablets, 768px and up) */
@media only screen and (min-width: 767px) {
}

/* Medium devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .skillset .level-title {
    display: inline-block;
    float: right;
    width: 30%;
    margin-bottom: 0;
  }

  .skillset .level-bar {
    display: inline-block;
    width: 70%;
    float: right;
    position: relative;
    top: 1px;
  }

  .posts{
    display: block;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

/* Ex-Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1400px) {
}
