/* extra small devices (tablets, less than 768px) */
@media only screen and (max-width: 483px) {
  .sidebar-wrapper {
    .profile-container {
      border-radius: 0 0 20px 0;
    }
    h2 {
      margin-bottom: 10px !important;
    }
    .avatar{
      max-width: 50% !important;
    }
    .about-container {
      display: block !important;
      columns: 2;
      .container-block {
        width: auto !important;
        padding: 0 !important;
      }
      .lang {
        padding-bottom: 1rem;
      }
    } 
  }
}
@media only screen and (min-width: 484px) {
}
@media only screen and (max-width: 768px) {
  body {
    padding: 0;
  }
  .sidebar-wrapper {
    position: static;
    border-radius: 0 ;
    .avatar {
      max-width: 30%;
    }
    .about-container {
      display: flex;
      .education-container {
        margin-bottom: 2rem;
      }
      .container-block {
        width: 33%;
      }
    }
  }
  .wrapper {
    display: block;
  }
  .main-wrapper {
    padding: 30px;
    border-radius: 0 0 10px 0;
    .section-title{
      font-size: 2rem;
    }
  }
  .main-wrapper .time {
    position: static;
    display: block;
    margin-top: 5px;
  }

  .main-wrapper .upper-row {
    margin-bottom: 0;
  }
}
/* Small devices (tablets, 768px and up) */
@media only screen and (min-width: 769px) {
}

/* Medium devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .skillset .level-title {
    display: inline-block;
    float: left;
    width: 30%;
    margin-bottom: 0;
  }

  .skillset .level-bar {
    display: inline-block;
    width: 70%;
    float: left;
    position: relative;
    top: 1px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

/* Ex-Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1400px) {
}
