/* Lavender variables*/
$theme-color: #967bb6;
$text-color: #47345e;
$text-color-secondary: #513b6a;
$text-grey: #bdacd1;
$divider: #b47bb6;
$lighter-grey: #cbd;
$darker-grey: #666;
$smoky-white: #e6e0ee;
$heart: #fb866a;
