---
---
{% assign sidebar = site.data.data.sidebar %}
<!DOCTYPE html> 
<html lang ="en">
{% include head.html %}

<hr>
    <div class="wrapper">
        {%include navbar.html%}
        {%include post_sidebar.html%}
        <div class="main-wrapper">
            <div class="post-header">
                <h3 class="post-title">{{page.title}}</h3>
                <h4 style="display:inline;" class="post-date">{{page.date | date: "%B %-d, %Y "}}{% if post.meta %} • {{ post.meta }}{% endif %}</h4>
            </div>
            <hr>
            <article class="post-content">
                <div class="blurb-post">
                    {{content}}
                </div>
            </article>
        </div>
    </div>


<div class="comment">
{% if page.comment %}
    <div id="disqus_thread"></div>
    <script>
          /**
  * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
  * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
  */

  var disqus_config = function () {
  this.page.url = '<?php echo get_permalink(); ?>'; // Replace PAGE_URL with your page's canonical URL variable
  this.page.identifier = '<?php echo dsq_identifier_for_post($post); ?>'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
  };
 
  (function() { // DON'T EDIT BELOW THIS LINE
  var d = document, s = d.createElement('script');

  s.src = '//bawn92.disqus.com/embed.js';

  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
  <script id="dsq-count-scr" src="//bawn92.disqus.com/count.js" async></script>
{% endif %}
</div>
{% include footer.html %}  
{% include scripts.html %}
</body>
</html>